#mainNav {
  background-color: #145d87;
}

body {
  background-color: rgba(18,38,59) !important;
}

a {
  color: #20dad8;
}

label {
  font-size: 20px;
}

.form-control {
  padding: 0;
}

.btn-outline-info{
  border-radius: 5px;
  border-color: #fff;
  margin-bottom: 10px;
  color: #fff;
}

.btn-outline-info:hover{
  color: #fff;
  background-color: #12101e;
  border-color: #12101e;
}

.content-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*.img-fluid.mb-4{
  min-width: 30%;
  width: 50%;
}*/

#paper{
  min-width: 120px;
  max-height: 300px;
}

